.productsContainer{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(4,0fr);
    grid-row-gap: 20px;
    grid-column-gap: 75px;
    justify-items: center;
    justify-content: center;

    .product{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: red;

        img{
            width: 100%;
            border-radius:10px;
        }

        p{
            font-weight: bold;
            text-align: center;
        }

        button{
            border: none;
            border-radius: 3px;
            padding: 5px 10px;
            cursor: pointer;
        }


        button:hover{
            background-color: #cecece;
        }
        

    }
    .product:hover{
        transition: transform 0.5s;
        transform:scale(1.15);
        background-color: #cecece;

    }

    
}


@media(max-width:600px){
    
    .productsContainer{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2,0fr);
        grid-row-gap: 20px;
        grid-column-gap: 75px;
        justify-items: center;
        justify-content: center;
    
        .product{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: red;
    
            img{
                width: 100%;
                border-radius:10px;
            }
    
            p{
                font-weight: bold;
                text-align: center;
            }
    
            button{
                border: none;
                border-radius: 3px;
                padding: 5px 10px;
                cursor: pointer;
            }
    
    
            button:hover{
                background-color: #cecece;
            }
            
    
        }
        .product:hover{
            transition: transform 0.5s;
            transform:scale(1.15);
            background-color: #cecece;
    
        }
    
        
    }
}

@media(max-width:420px){
    
    .productsContainer{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(1,0fr);
        grid-row-gap: 20px;
        grid-column-gap: 75px;
        justify-items: center;
        justify-content: center;
    
        .product{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: red;
    
            img{
                width: 100%;
                border-radius:10px;
            }
    
            p{
                font-weight: bold;
                text-align: center;
            }
    
            button{
                border: none;
                border-radius: 3px;
                padding: 5px 10px;
                cursor: pointer;
            }
    
    
            button:hover{
                background-color: #cecece;
            }
            
    
        }
        .product:hover{
            transition: transform 0.5s;
            transform:scale(1.15);
            background-color: #cecece;
    
        }
    
        
    }
}


.modal{
    position:'absolute';
    top:'10%';
    left:'10%';
    height:'100%';
    max-height: 500;
    overflow: 'scroll';
    display:'block'
  }

.img{
    margin-right: 20px;
    border-radius:10px;
}





